@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
  --background-color: rgb(19, 20, 42);
  --color: white;
}
#body {
  background: var(--background-color);
  color: var(--color);
  min-height: 100vh !important;
}

.lineContainer{
  width: 1px;
  background: white;
  height: 100vh;
  position: fixed;
  left: 40em;
  top: 3em;
  bottom: 30em;
}
.main{
  display: flex;
  flex-direction: column;
  gap: 1em;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: inherit;
}
.content{
  flex: 0 1 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}
.titleName{
  height: 2em;
  font-size: 2em;
}
.animate__animated{
  &.about{
  animation-delay: 3s;
  }&.skills{
    animation-delay: 3.5s;
  }&.projects{
    animation-delay: 4s;
  }&.contact{
    animation-delay: 4.5s;
  }
}
p{
  font-size: 1.4rem;
}
h3 {
  border-bottom: solid #595252;
  width: fit-content;
}
li{
  list-style: none;
}
input{
  display: flex;
  padding:0.50rem;
}
a{
  text-decoration: none!important;
}
.btn.btn-primary {
  width: 100px;
  margin: 1em auto;
}
.profileLeft{
  position: fixed;
  top: 8em;
  width: 30em;
  left: 10em;
  display: flex;
  flex-direction: column;
  overflow: auto;
  flex-wrap: wrap;
  height: 100%;
}
.profileRight{
  position: absolute;
  top: 8em;
  left: 40em;
  display: flex;
}
.svg{
  display: block;
  position: relative;
  top: 10em;
}
.brand{
  border-radius: 5px;
  background-color: darkslateblue;
  padding: 0.8em;
  position: relative;
}
.contentSection{
  display: flex;
  position: relative;
  flex-wrap: wrap;
  gap: 18px;
  margin-block: 3em;
}
.spanBrand{
  display: flex;
  position: relative;
  flex-wrap: wrap;
  gap: 1.4em;
  margin: 1em auto;
}
.spanCard{
  display: flex;
  position: relative;
  flex-wrap: wrap;
  gap: 1em;
}


.card-container {
  position: relative;
  width: 450px;
  height: 250px;
  overflow: hidden;
}

.img-wrapper {
  position: relative;
}

.card-img {
  width: 100%;
  height: 100%;
  transition: filter 0.3s ease-in-out;
}

.card-footer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 8px;
  color: white;
  border: none !important;
  font-family: poppins;
  font-weight: 600;
}
.titleBadge {
  -webkit-text-stroke: 1px black;
   color: white;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
      animation: fadeIn ;
      }

.badges{
  display: inline-flex;
  flex-wrap: wrap;
  width: auto;
  flex-direction: column;
  align-items: center;
  gap: 5px;

  color: #483d8b!important;
}
.badge{
  font-size: 12px!important;
  gap: 1em !important;
  display: flex;
  padding: 1em!important;
  margin: auto 6px ;
}
.img-wrapper:hover .card-img {
  filter: blur(5px);
  
}

.img-wrapper:hover .card-footer {
  opacity: 1;
}
.navLeft{
  border-bottom: solid transparent 1px;
  width: auto;

}
.navLeft:hover{
  width: auto;
}
.conjuctLeft{
  gap: 1em;
}
.description{
  animation: fadeInUp 1.5s;
  -webkit-animation: fadeInUp ;
}
.conjuctLeft, .titleName, .description{
  padding: 15px 0;
}
/* From Uiverse.io by satyamchaudharydev */ 
/* === removing default button style ===*/
.button {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

/* button styling */
.button {
  --border-right: 2px;
  --text-stroke-color: rgba(255,255,255,0.6);
  --animation-color: #37FF8B;
  --fs-size: 1.5rem;
  width: auto;
  letter-spacing: normal;
  width: auto;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Poppins";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.4s;
  -webkit-text-stroke: 1px var(--animation-color);
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
/* hover */
.button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color));
  -webkit-filter: drop-shadow(0 0 23px var(--animation-color));
}
.form{
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: fit-content;
}
label{
  display: block!important;
  padding: 10px 0px;
}
@media (max-width: 768px) {
  .profileLeft, .profileRight {
    position: relative;
    left: 0;
    width: 100%;
    top: auto;
  }

  .content {
    grid-template-columns: 1fr;
  }

  .card-container {
    width: 100%;
  }
}
